body {
    background: linear-gradient(rgb(52, 166, 255), rgb(71, 124, 255));
    height: 100vh;
  }
  
  #traffic-light {
    width: 70px;
    height: 240px;
    background: #222;
    border-radius: 8px;
    margin: auto;
    padding: 15px;
    position: relative;
  }
  #traffic-light::after {
      content: "";
      width: 17px;
      height: 100%;
      position: absolute;
      right: 0;
      left: 0;
      bottom: -100%;
      background-color: #222;
      margin: 0 auto;
  }
  .light {
    display: inline-block;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-bottom: 8px;
    opacity: 0.2;
    transition: opacity 0.2s;
    position: relative;
  }
  .light span {
      transition: opacity 0.2s;
      color: #fff;
      font-size: 33px;
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      opacity: 0;
      visibility: hidden;
  }
  .light.active span {
    opacity: 1;
    visibility: visible;
  }
  .active {
    opacity: 1;
  }
  
  .red {
    background: red;
  }
  .yellow {
    background: yellow;
  }
  .green {
    background: green;
  }